:root {
  --bg: #0f1317; /*ngjyra e background*/
  --muted: #1a2027; /*ngjyra e cards*/
  --text: #e9edf1; /*ngjyra e pare 1 shkrimeve*/
  --sub: #b8c0cc; /*ngjyra e linqeve e shkrimeve*/
  --gold: #c6a664; /*ngjyra e butoneve*/
  --border: #2a323d; /*ngjyra e bordeers perreth */
  --radius: 14px;
}
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  color: var(--text) !important;
  background: var(--bg) !important;
  font-family: Inter, system-ui, Segoe UI, Roboto, Arial, sans-serif;
  line-height: 1.55;
}
.container {
  width: min(1200px, 92%);
  margin-inline: auto;
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 50;
  background: linear-gradient(
    180deg,
    rgba(15, 19, 23, 0.9),
    rgba(15, 19, 23, 0.6)
  );
  border-bottom: 1px solid var(--border);
  padding: 5px 0px;
}
.navbar .inner-container {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
}
.logo {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 130px;
  height: 90px;
  margin-left: 5%;
}

.nav {
  display: flex;
  gap: 26px;
  margin-right: 20px;
}

.nav a {
  color: var(--sub);
  text-decoration: none;
  font-weight: 500;
  padding: 10px 25px;
  position: relative;
}
.nav a:hover,
.nav a.active {
  color: var(--text);
}
.nav a.active::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -14px;
  height: 2px;
  background: #fff;
}
.btn1 {
  background: var(--gold);
  color: #111;
  border: none;
  padding: 10px 16px;
  border-radius: 10px;
  font-weight: 600;
  box-shadow: 0 10px 25px rgba(202, 166, 106, 0.25);
  cursor: pointer;
}
.btn1 a {
  text-decoration: none;
  color: #ffffff;
}

.nav .dropdown {
  position: relative;
}

.nav .dropdown-toggle {
  display: inline-block;
  cursor: pointer;
  color: var(--sub);
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background: var(--bg, #111);
  border: 1px solid var(--border);
  min-width: 120px;
  padding: 6px 0;
  display: none;
  z-index: 1000;
}

.dropdown-menu a {
  display: block;
  padding: 8px 14px;
  text-decoration: none;
  color: var(--sub);
  font-size: 0.95rem;
}

.dropdown-menu a:hover {
  background: var(--border);
  color: var(--text);
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.hero {
  text-align: center;
  padding: 90px 20px;
}

.hero h1 {
  font-size: 50px;
  margin-bottom: 10px;
}

.hero p {
  font-size: 18px;
  color: var(--sub);
  margin-bottom: 25px;
}

.btn {
  padding: 12px 28px;
  background: var(--gold);
  color: #030303;
  border: none;
  border-radius: var(--radius);
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  font-weight: bold;
}

.btn:hover {
  opacity: 0.85;
}

.btn.small {
  padding: 8px 18px;
  margin-top: 10px;
}
.box,
.box h1,
.box h3,
.box p {
  color: #ffffff !important;
}

.boxes {
  display: flex;
  gap: 85px;
  margin-top: 40px;
  justify-content: center;
  padding: 0 10px;
}

.box {
  background: var(--muted);
  padding: 20px 40px 05px 30px;
  border-radius: var(--radius);
  width: 900px;
  text-align: center;
  font-size: 15px;
  border: 1px solid var(--border);
  box-shadow: 0 10px 25px rgb(207, 211, 186);
}

.box-img {
  width: 355px;
  height: 255px;
  border-radius: var(--radius);
  background-size: cover;
  background-position: center;
  margin: 0 auto 20px auto;
}

.box:hover {
  transform: scale(1.03);
}

.box1 .box-img {
  background-image: url("../img/H1.jpg");
}
.box2 .box-img {
  background-image: url("../img/H2.jpg");
}
.box3 .box-img {
  background-image: url("../img/H3.jpg");
}
.box4 .box-img {
  background-image: url("../img/H6.jpg");
}
.box5 .box-img {
  background-image: url("../img/H7.jpg");
}
.box6 .box-img {
  background-image: url("../img/H8.jpg");
}
.box7 .box-img {
  background-image: url("../img/H9.jpg");
}
.box8 .box-img {
  background-image: url("../img/H10.jpg");
}
.box9 .box-img {
  background-image: url("../img/H11.jpg");
}
.box10 .box-img {
  background-image: url("../img/H16.jpg");
}
.box11 .box-img {
  background-image: url("../img/H17.jpg");
}
.box12 .box-img {
  background-image: url("../img/H12.jpg");
}
.box13 .box-img {
  background-image: url("../img/H13.jpg");
}
.box14 .box-img {
  background-image: url("../img/H14.jpg");
}
.box15 .box-img {
  background-image: url("../img/H15.jpg");
}

.footer {
  border-top: 1px solid var(--border);
}

.footer a {
  color: var(--sub);
  text-decoration: none;
}

.footer a:hover {
  color: var(--text);
}

.footer h4 {
  margin: 0 0 12px;
  font-size: 1rem;
  font-weight: 600;
  color: var(--text);
}

.footer .info {
  color: var(--sub);
  margin: 4px 0;
  font-size: 0.95rem;
}

.footer-bottom {
  border-top: 1px solid var(--border);
}

.hero-slider {
  position: relative;
  height: 85vh;
  overflow: hidden;
}

.hero-slide {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  opacity: 0;
  animation: fadeSlider 50s infinite;
}

.slide1 {
  background-image: url("../img/K1.jpg");
  animation-delay: 0s;
}
.slide2 {
  background-image: url("../img/K2.jpg");
  animation-delay: 5s;
}
.slide3 {
  background-image: url("../img/K3.jpg");
  animation-delay: 10s;
}
.slide4 {
  background-image: url("../img/K4.jpg");
  animation-delay: 15s;
}
.slide5 {
  background-image: url("../img/K5.jpg");
  animation-delay: 20s;
}
.slide6 {
  background-image: url("../img/K6.jpg");
  animation-delay: 25s;
}
.slide7 {
  background-image: url("../img/K7.jpg");
  animation-delay: 30s;
}
.slide8 {
  background-image: url("../img/K8.jpg");
  animation-delay: 35s;
}
.slide9 {
  background-image: url("../img/K9.jpg");
  animation-delay: 40s;
}
.slide10 {
  background-image: url("../img/K10.jpg");
  animation-delay: 45s;
}

.hero-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
}

.hero-content {
  position: relative;
  z-index: 3;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px;
}

.hero-content h1 {
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 15px;
  color: #fff;
}

.hero-content p {
  font-size: 18px;
  max-width: 650px;
  color: #ddd;
}

@keyframes fadeSlider {
  0% {
    opacity: 0;
  }
  8% {
    opacity: 1;
  }
  18% {
    opacity: 1;
  }
  26% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.view-details-btn {
  display: inline-block;
  padding: 10px 20px;
  background: #c6a664;
  color: #000;
  text-decoration: none;
  border-radius: 14px;
  font-weight: 600;
  transition: 0.3s;
}

.view-details-btn:hover {
  background: #f1e2e2;
  transform: translateY(-2px);
}
